<html>
<body>
<h2>Welcome to pronote for
    {% for child in children %}
    {{ child}}
    {% endfor %}
</h2>
<ul>
    <li><a href="/lessons">Lessons</a></li>
    <li><a href="/absences">Absences</a></li>
    <li><a href="/homework">Home work</a></li>
    <li><a href="/homework-todo">Home work to do for tomorrow</a></li>
    <li><a href="/averages">Averages</a></li>
    <li><a href="/overall_average">Overall averages</a></li>
    <li><a href="/grades">Grades</a></li>
    <li><a href="/evaluations">Evaluations</a></li>
    <li><a href="/period">Period</a></li>
    <li><a href="/discussions">Discussions</a></li>
    <li><a href="/punishments">Punishments</a></li>
</ul>
</body>
</html>
